.container {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  background-color: #a691f2;
  border-radius: 10px;
}

.cancel-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.cancel-button {
  width: 20px;
  padding: 5px;
}

label {
  color: white;
}

p {
  color: white;
  overflow-wrap: break-word;
  overflow: auto;
}

.innerWidget {
  width: 100%;
}

.textInput {
  width: 90%;
}
